* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    background: rgb(255, 246, 246);
    border-radius: 12px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    align-items: center;
}

.profile-img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.info {
    margin-left: 20px;
}

.info h2 {
    font-size: 24px;
}

.info p {
    color: rgb(218, 70, 70);
    margin: 5px 0;
}

.tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.tag {
    background: #e5e5e5;
    padding: 5px 10px;
    border-radius: 15px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn.primary {
    background: rgb(0, 0, 0);
    color: rgb(240, 28, 0);
}

.btn.secondary {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
